{{ form_start(form, {attr: {'id': 'tinymce_editor', 'data-post-id': post.id}} ) }}
    {{ form_widget(form) }}
    <button class="btn btn-sm btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
